video{
	position: absolute;
  clip-path: polygon(0% 13%, 2% 10%, 2% 6%,	4% 2%, 9% 2%, 11% 0%, 39% 0%, 40% 1%, 49% 1%, 50% 0%, 72% 0%, 74% 2%, 84% 2%, 100% 31%, 100% 100%, 100% 100%, 50% 100%, 49% 99%, 40% 99%, 39% 100%, 18% 100%, 14% 93%, 5% 92%, 1% 84%, 1% 55%, 0% 53%);
}
.video-cover::before{
	content: "";
	position: absolute;
	height: 440px;
	width: 780px;
	backdrop-filter: blur(10px);
	background: #cad9f13b;
	border: 2px solid #b5c2d56e;
  clip-path: polygon(7% 100%, 0% 85%, 0 3%, 2% 0, 83% 0, 100% 31%, 100% 100%);
	}
.video-cover::after{
	content: "";
	position: absolute;
	height: 440px;
	width: 780px;
	backdrop-filter: blur(10px);
	background: #cad9f13b;
	border: 2px solid #b5c2d56e;
  clip-path: polygon(84% 0, 100% 29%, 100% 14%, 92% 0);  
}